{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="create-div" style="margin-left: 10%; margin-right: 10%; border-radius: 15px;">
    <div class="contain">
        <img class="image-create" src="https://cdn.pixabay.com/photo/2012/11/28/08/56/mona-lisa-67506_1280.jpg" alt="Snow" style="width:70%; height: 70%; border-radius: 35px;">
        <div class="top-left"><a href="/"><button type="button" class="btn-close" aria-label="Close" style="margin: 1%;" ></button></a></div>
        <div class="centered"><h1>Create Post</h1>
            <div class="radiogroup" display="block-inline">
                <h1>User Registration</h1>
                    <div class="radiogroup" display="block-inline">
                        <div class="radiogroup" display="block-inline">
                            <p>Unles you register, you wont create your chanel.</p>
                            <form method="post">
                                <table>
                                    {{ form.as_table }}
                                    {% csrf_token %}
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" value="Sing Up"></td>
                                    </tr>
                                </table>
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>
                        </div>
                    </div>
            </div>
      </div>
</div> 
</div>
    
{% endblock %}
