<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/base.css">
  <link rel="stylesheet" type="text/js" href="../static/base.js">
  <title>Pinterest</title>
</head>
<body>
  <div class="menu">
    <a href="/"><img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png"></a>
    <a href="/" class="home" style="text-decoration: none;">Home</a>
    
    <form class="formm" action="{% url 'search' %}" method="get">
      <!--input name="q" type="text" id="one" type="text" placeholder="Search" style=" align-items: end; width: 900px;"-->
      <input name="q" id="one" type="text" class="search-bar" placeholder="Search">
      <button id="two" class="search-bar"></button>
    </form>
    <div class="icon-container">
      <img tabindex="1" draggable="false" class="icon bell" src="https://i.hizliresim.com/rcvolcu.png">
      <img tabindex="1" draggable="false" class="icon message" src="https://i.hizliresim.com/newumah.png">
      <img tabindex="1" draggable="false" class="icon pp" src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg">
      <img tabindex="1" draggable="false" class="icon btn" src="https://i.hizliresim.com/g15mqud.png">
      
      <!----FOCUS----->
      <div tabindex="1" class="focus-bar bell-bar">nothing</div>
      <!-------------------->
      <div tabindex="1" class="focus-bar message-bar">you are alone</div>
      <!------------ 
        {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'change_password' %}">Edit Password</a></li>
                  <li><a class="dropdown-item" href="#">Edit Name</a></li>
                  <li style="margin-top: 3%;"><a class="dropdown-item" href="{% url 'logout' %}?next=/">Log Out</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}?next=/">Log In</a></li>
                  <li><a class="dropdown-item" href="{% url 'register' %}">Sing Up</a></li>
                {% endif %}
        -------->
      <div tabindex="1" class="focus-bar pp-bar">
        {% if user.is_authenticated %}
          <a href="/chanel/">My Posts</a>
          <a href="/password/">Edit Paswwword</a>
          <a href="{% url 'logout' %}?next=/">LogOut</a>
        {% else %}
          <a class="dropdown-item" href="{% url 'login' %}?next=/">Log In</a></li>
          <a class="dropdown-item" href="{% url 'register' %}">Sing Up</a></li>
        {% endif %}
      </div>
      <!-------------------->
      <div tabindex="1" class="focus-bar btn-bar">
        <div class="centered-text">
          <img src="https://media.istockphoto.com/id/537524508/photo/yellow-textured-paper-background.jpg?s=612x612&w=0&k=20&c=YePSEvthg5WhQzgAihJ55gsNz19Qadb0sIa8YDlMS2U=" alt="Snow" style="width: 200px;height: 200px; border-radius: 15px;">
          <div class="centered"><a href="/create/" style="text-decoration: none; color: #ffffff;"><h1>CREATE</h1></a></div>
        </div>
      </div>
      
      
    </div>
  </div>
  <!--------------------------->
  <div class="responsive-search-bar">
      <input type="text">
      <p class="close">❌</p>
    </div>
  <!--------------------------->
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <div class="bottom-float">
    <p class="float-icon"><a href="/create/" style="text-decoration: none;">+</a></p>
    <p class="float-icon"><a href="/about_us/" style="text-decoration: none;">?</a></p>
  </div>
</body>
</html>
































































<!--DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/base.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
  {% block css %}
  {% endblock css %}
</head>
<body class="navv">
	{% block header %}
  <div>
    <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <div class="dropdown">
        <a class="" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Zeronet_logo.png" style="width: 50px; height: 50px;">
        </a>
        <ul class="dropdown-menu">
          {% if user.is_authenticated %}
            <li style="margin-bottom: 2%"><a class="dropdown-item" href="{% url 'create' %}">Create Post</a></li>
          {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}?next=/">Create Post</a></li>
          {% endif %}
          <div style="margin-top: 10%;"> 
            <li><a class="dropdown-item" href="{% url 'pinterest' %}">Pinterest</a></li>
            <li><a class="dropdown-item" href="{% url 'about_us' %}">About Us</a></li>
            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
          </div>
          
        </ul>
      </div>
     
      <button class="navbar-toggler" type="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="">
        <img class="user-png-base" src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png">
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          {% if user.is_authenticated %}
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{user.username}}</h5>
          {% else %}
            <h1>Anonymous</h1>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'chanels' %}">My Posts</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/">Menu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'change_password' %}">Edit Password</a></li>
                  <li><a class="dropdown-item" href="#">Edit Name</a></li>
                  <li style="margin-top: 3%;"><a class="dropdown-item" href="{% url 'logout' %}?next=/">Log Out</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}?next=/">Log In</a></li>
                  <li><a class="dropdown-item" href="{% url 'register' %}">Sing Up</a></li>
                {% endif %}
              </ul>
            </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </nav>
    </div>    
  </div>

	{% endblock %}
  <div>
    
  </div>
  {% include 'footer.html' %}
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>qqqq

<form class="d-flex" role="search" action="{% url 'search' %}" method="get">
  <input name="q" class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id='input'>
</form>

</html-->


