{% load static %}
<link rel="stylesheet" type="text/css" href="../static/base.css">
<div class="footer">
    <h1 class="h11">Contact</h1>
    <hr class="line" style="margin-top: 4%;">
    <p>begzodbazarbaevacaunt@mail.ru</p>
    <div style="text-align: center;">
        <a href="https://github.com/Begzod5588Bazarbaev"><img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="" style="width: 20px;"></a>
        <a href="https://t.me/bd_developer_official_account_tg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png" alt="" style="width: 20px;"></a>
        <a href="https://github.com/Begzod5588Bazarbaev"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" style="width: 20px;"></a>
    </div>
</div>
    